<!DOCTYPE html>
<html>
    <head>
      <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
          This is the help page for the sample application
        </p>
    </body>
</html>